@{
    ViewData["Title"] = "Naslovna stranica";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br/>
    <a asp-controller="Offers" asp-action="Index" class="btn btn-primary">Pregled ponuda</a>
    <a asp-controller="Offers" asp-action="CreateEdit" class="btn btn-secondary">Kreiranje nove ponude</a>
    <a asp-controller="Offers" asp-action="ImportData" class="btn btn-secondary">Uvoz ponuda iz Excel datoteke</a>
</div>